/nbproject/private/
nbproject/project.properties
nbproject/project.xml
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
private.properties

Resources/Netbeans/FriendsLendsCurrent/nbproject/private/private.xml
Resources/Netbeans/SandyShared/nbproject/private/private.xml
/Resources/Netbeans/FriendsLendsInProgress/nbproject/private/