body {
    background-color: #ccddff;
    font-family: 'Quicksand', sans-serif;
    margin-left: 50px;
}

h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 26pt;
    font-weight: Bold;
    text-align: Center;

}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
    font-weight: Bold
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
    font-weight: Normal;
}

h4{
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
    font-weight: Normal; 
}

p, label {
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
    font-weight: Semi Bold;
}

.nav-link	{
	font-size: larger;
    font-weight: bold;
}

